doctype html
html
  head
    vite:resource(src="debugger.js" bundle="f4-core-debugger")
    vite:bundle(name="f4-core-debugger")
  body
    #debugger-app(
      data-config = $config['value'] ?? []
      data-localizer = $localizer ?? []
      data-log = $log ?? []
      data-profiler = $profiler
      data-project = $project
      data-queries = $queries['value'] ?? []
      data-response = $response
      data-request = $request
      data-route = $route
      data-session = $session['value'] ?? []
      data-system = $system['value'] ?? []
    )
